# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Great Expectations
# =========================
great_expectations/uncommitted/

# Optional:
# Ignore generated GX docs
great_expectations/data_docs/

# =========================
# MySQL / Database Dumps
# =========================
*.sql

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build Artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Power BI Temp Files
# =========================
*.pbix.autosave

# =========================
# Misc
# =========================
.cache/
temp/
tmp/